<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <!-- <p>
      I'm currently an Graduate Student at
      <a class="underline-link" href="https://www.gwu.edu/" target="_blank">The George Washington University</a> building things for the web with some awesome people. 
     
    </p> -->

    <p>
      I’m a Computer Science Master’s student at The George Washington
      University (SEAS), graduating in December 2025. Passionate about software
      engineering, AI, and web development, I’m seeking Summer 2025 internships
      and full-time roles to create impactful solutions. With experience in
      hackathons, full-stack projects, and scalable applications, I thrive at
      the intersection of code and creativity. Check out my work on Devpost!
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably
      sleeping, binge-watching my favorite shows, or crossing off another item
      on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
